USE [master]
GO
/****** Object:  Database [project_1]    Script Date: 12/26/2021 11:09:24 PM ******/
CREATE DATABASE [project_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\project_1.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'project_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\project_1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project_1]
GO
/****** Object:  Table [dbo].[banhang]    Script Date: 12/26/2021 11:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banhang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [nchar](10) NULL,
	[Soluong] [int] NULL,
	[NgayBan] [date] NULL,
	[KieuThanhToan] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kho]    Script Date: 12/26/2021 11:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [nchar](10) NULL,
	[TenHang] [nvarchar](255) NULL,
	[NgayNhap] [date] NULL,
	[GiaTien] [int] NULL,
	[Soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[banhang] ON 

INSERT [dbo].[banhang] ([id], [MaHang], [Soluong], [NgayBan], [KieuThanhToan]) VALUES (1, N'MH01      ', 1, CAST(N'2022-01-01' AS Date), N'Tiền mặt')
INSERT [dbo].[banhang] ([id], [MaHang], [Soluong], [NgayBan], [KieuThanhToan]) VALUES (2, N'MH02      ', 10, CAST(N'2022-01-01' AS Date), N'Tiền mặt')
INSERT [dbo].[banhang] ([id], [MaHang], [Soluong], [NgayBan], [KieuThanhToan]) VALUES (3, N'MH02      ', 10, CAST(N'2022-01-01' AS Date), N'Tiền mặt')
SET IDENTITY_INSERT [dbo].[banhang] OFF
SET IDENTITY_INSERT [dbo].[kho] ON 

INSERT [dbo].[kho] ([id], [MaHang], [TenHang], [NgayNhap], [GiaTien], [Soluong]) VALUES (1, N'MH01      ', N'Cà rốt', CAST(N'2022-01-01' AS Date), 12111, 100)
INSERT [dbo].[kho] ([id], [MaHang], [TenHang], [NgayNhap], [GiaTien], [Soluong]) VALUES (2, N'MH02      ', N'Xà lách', CAST(N'2022-01-01' AS Date), 10000, 80)
INSERT [dbo].[kho] ([id], [MaHang], [TenHang], [NgayNhap], [GiaTien], [Soluong]) VALUES (4, N'MH03      ', N'Dưa Leo', CAST(N'2022-01-01' AS Date), 10000, 10)
SET IDENTITY_INSERT [dbo].[kho] OFF
USE [master]
GO
